<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置handler扫描包-->
    <context:component-scan base-package="com"/>

    <mvc:resources mapping="/jsp" location="/jsp/**"/>

    <!--使用mvc标签配置注解方式的处理器映射器和处理器适配器，默认加载了很多转换器，比如json的数据类型转换器-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <!--<property name="objectMapper" ref="objectMapper"/>-->
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--<bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"-->
          <!--p:indentOutput="true"-->
          <!--p:simpleDateFormat="yyyy-MM-dd"-->
          <!--p:modulesToInstall="com.fasterxml.jackson.module.paramnames.ParameterNamesModule"/>-->

    <!-- 定义文件上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 设定文件上传的最大值20MB，20*1024*1024 -->
        <property name="maxUploadSize" value="20971520"/>
    </bean>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"/>
    </bean>
</beans>