@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"PingFang SC",Helvetica,Arial,"微软雅黑","黑体";
    list-style: none;
    color: #333;
    text-decoration: none;
}
.box{ width: 100%; margin: auto;}
.header{
    height: 50px;
    background: #e73d41;
    width: 100%;
}
.scrapt{
    margin: 0 10px;
}
.header .scrapt{
    position: relative;
    padding: 0 10px;
    margin: 0;
    width: 100%;
}
.header .scrapt i,
.header .scrapt b{
    position: absolute;
}
.header .scrapt p{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    line-height: 48px;
}
.header .scrapt i{
    left: 10px;
    width: 4.5%;
    top: 15px;
}
.header .scrapt b{
    right: 10px;
    width: 5%;
    top:13px;
}
.header .scrapt i img,
.header .scrapt b img{
    width: 100%;
}

/*主体*/
.content{
    background: #e8e8ed;
	margin-top:50px;
	margin-bottom:40px;
}
.carousel,
.carousel .imgList,
.carousel .imgList li,
.carousel .imgList li img{
    width: 100%;
}
.carousel{
    position: relative;
}
.carousel .imgList li,
.carousel .iconlist i{
    float: left;
}
.carousel .imgList{
    overflow: hidden;
}
.carousel .iconlist {
    position: absolute;
    left: 41%;
    width: 18.6%;
    overflow: hidden;
    top:90%;
}
.carousel .iconlist i{
    width: 11.3%;
    margin-left: 4.2%;
    margin-right: 4.2%;
}
.carousel .iconlist i img{
    width: 100%;
}
.carousel .ershou{
    position: absolute;
    width: 7.5%;
    right: 10px;
    top:0;
}
.carousel .ershou img{
    width: 100%;
}
.detail,
.coupon,
.sizeColor,
.enterStore,
.goodRated{
    background: #fff;
    padding-top: 10px;
}
.enterStore,
.goodRated{
    margin-top: 10px;
}
.goodRated{
    padding-top: 0;
}
.detail .scrapt{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.detail .title{
    font-size: 1rem;
}
.priceStore{
    margin-top: 10px;
    overflow: hidden;
}
.priceStore .left{
    width: 70%;
}
.priceStore .left,
.priceStore .left .price,
.priceStore .left .yuanPrice{
    float: left;
}
.priceStore .right{
    float: right;
    margin-top: 3px;
}
.priceStore .left .price,
.priceStore .left .price a{
    color:#dd3939;
}
.priceStore .left .price{
    font-size: 0.6rem;
}
.priceStore .left .price a{
    font-size: 1.2rem;
}
.priceStore .left .yuanPrice,
.priceStore .right,
.priceStore .right a,
.priceStore .left .yuanPrice a{
    color: #999;
    font-size: 0.8rem;
}
.priceStore .left .yuanPrice{
    margin-left: 5.2%;
    margin-top: 3px;
}


.coupon .scrapt{
    overflow: hidden;
}
.coupon span,
.couponList,
.couponList li{
    float: left;
}
.couponList .amount{
    float: right;
}
.coupon span,
.couponList .amount span,
.sizeColor .size span,
.sizeColor .color span{
    font-size: 0.9rem;
    color: #999;
}
.coupon span,
.couponList .amount span{
    margin-top: 8px;
}
.couponList{
    margin-left:3.4%;
    width: 63%;
}
.coupon .amount{
    width: 19%;
    float: right;
}
.coupon .amount i,
.coupon .amount span{
    float: right;
}
.coupon .amount i{
    width: 24%;
    margin-left: 6%;
    margin-top: 3px;
}
.coupon .amount i img{
    width: 100%;
}

.couponList li{
    margin-right: 3%;
    height: 24px;
    margin-bottom: 10px;
}
.couponList li i,
.couponList li p,
.couponList li b{
    float: left;
}

/*修改*/
/*.couponList li i{*/
    /*width: 12%;*/
/*}*/
/*.couponList li b{*/
    /*width: 4%;*/
/*}*/
/*.couponList li i img,*/
/*.couponList li b img{*/
    /*width: 100%;*/
/*}*/


.couponList li p{
    height: 24px;
    border-top: 1px solid #e4393c;
    border-bottom: 1px solid #e4393c;
    line-height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.7rem;
    color: #e4393c;
}

.sizeColor{
    margin-top: 10px;
}
.sizeColor .color,
.sizeColor .size{
    overflow: hidden;
}
.sizeColor .color{
    margin-top: 10px;
}
.sizeColor .size span,
.sizeColor .color span,
.sizeColor .size p,
.sizeColor .color p{
    float: left;
}
.sizeColor .size p{
    margin-top: 2px;
}
.sizeColor .size span,
.sizeColor .color span{
    width: 12%;
    color: #999;
    font-size: 0.9rem;
}
.sizeColor .size p,
.sizeColor .color p{
    overflow: hidden;
    width: 88%;
}
.sizeColor .size p a,
.sizeColor .color p a{
    float: left;
    font-size: 0.9rem;
    color: #666;
    border-right: 1px solid #eee;
    padding: 0 5px;
    margin-bottom: 10px;
}
.coupon span{
    margin-top: 3px;
}
.sizeColor .color{
    border-bottom: 1px solid #eeeeee;
}
.sizeColor .send span{
    color: #999;
    margin-right: 6%;
}
.sizeColor .send a,
.sizeColor .send span{
    font-size: 0.9rem;
}
.sizeColor .send{
    padding: 10px 0;
}
.enterStore{
    padding-bottom: 10px;
}
.enterStore .scrapt{
    overflow: hidden;
}
.enterStoreLeft,
.enterStoreCt,
.enterStoreRight,
.enterStoreCt .credibility span,
.enterStoreCt .credibility i{
    float: left;
}
.enterStoreLeft{
    width:24%;
}
.enterStoreLeft img{
    width: 100%;
}
.enterStoreCt{
    width: 42%;
    margin-left: 2.4%;
}
.enterStoreCt .title{
    font-size: 1rem;
    height: 21px;
    overflow: hidden;
}

.enterStoreCt .shopCustomer,
.enterStoreCt .shopCustomer span,
.enterStoreCt .time,
.enterStoreCt .time span,
.enterStoreCt .credibility span{
    color: #666;
    font-size: 0.9rem;
}
.enterStoreCt .credibility i{
    width: 9%;
    margin-right: 2px;
}
.enterStoreCt .credibility i img{
    width: 100%;
}
.enterStoreRight{
    float: right;
    width: 28%;
}
.enterStoreRight .enter{
    width: 100%;
    height: 30px;
    line-height: 28px;
    border: 1px solid #e4393c;
    border-radius: 3px;
    margin-top: 10px;
}
.enterStoreRight .enter i,
.enterStoreRight .rz i{
    width: 12.5%;
    margin-left: 17.5%;
    float: left;
}
.enterStoreRight .enter i img,
.enterStoreRight .rz i img{
    width: 100%;
}
.enterStoreRight .enter span,
.enterStoreRight .rz span{
    font-size: 0.8rem;
    color: #e4393c;
    float: left;
    margin-left: 3px;
}
.enterStoreRight .rz{
    margin-top: 10px;
}


.goodRated .top{
    border-bottom: 1px solid #ddd;
}
.goodRated .top .scrapt{
    height: 50px;
    line-height: 50px;
}
.goodRated .top .left{
    float: left;
    width: 60%;
}
.goodRated .top .right{
    float: right;
    color: #696969;
    font-size: 0.9rem;
}
.goodRated .top .left .text{
    font-size: 1rem;
}
.goodRated .top .left .exp{
    margin-left: 3%;
    color: #e4393c;
    font-size: 0.8rem;
}
.goodRated .top .left .exp a{
    font-weight: bold;
    color: #e4393c;
    font-size: 0.9rem;
}
.goodRatedList .scrapt{
    border-bottom: 1px solid #eee;
    padding: 10px 0 6px;
}
.goodRatedList .information{
    overflow: hidden;
}
.goodRatedList .information .left,
.goodRatedList .information .left i,
.goodRatedList .information .left span,
.goodRatedList .colorSize p{
    float: left;
}
.goodRatedList .colorSize .size{
    margin-left: 10px;
}
.goodRatedList .information .left i{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
}
.goodRatedList .information .left i img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.goodRatedList .information .left span,
.goodRatedList .information .time{
    font-size: 0.8rem;
    margin-top: 11px;
}
.goodRatedList .information .left span{
    margin-left: 15px;
}
.goodRatedList .information .time{
    float: right;
    color: #999;
}
.goodRatedList .exp{
    font-size: 0.8rem;
    width: 91%;
    line-height: 20px;
    margin-top: 10px;
}
.goodRatedList .colorSize{
    overflow: hidden;
    margin-top: 2px;
}
.goodRatedList .colorSize p,
.goodRatedList .colorSize p a{
    color: #999;
    font-size: 0.7rem;
}
.goodRatedList .colorSize p a{
    margin-left: 2px;
}
.lookAllRate{
    text-align: center;
    height: 50px;
    line-height: 49px;
    font-size: 0.95rem;
}
.productDetile .top{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.95rem;
    background: #fff;
    margin: 10px 0;
}
.productDetileCt{
    background: #fff;
    border-top: 1px solid #b3b3b3;
    overflow: hidden;
}
.productDetileCt li{
    width: 50%;
    border-bottom: 1px solid #b3b3b3;
    height: 50px;
    line-height: 48px;
    float: left;
    font-size: 0.9rem;
}
.positionImg{
    background: #fff;
    margin: 10px 0 0;
    border-bottom: 10px solid #e8e8ed;
}
.positionImg p{
    margin: 0 10px;
    padding: 20px 0;
}
.positionImg p img{
    width: 100%;
}
.footer{
    height: 40px;
    width: 100%;
}
.footer .hdy,
.footer .enterApp{
    float: left;
    height:40px;
    line-height: 39px;
}
.footer .hdy{
    width: 35%;
    background: #fff;
}
.footer .enterApp{
    width: 65%;
    background: #e4393c;
    font-size: 1rem;
    color: #fff;
    text-align: center;
}
.footer .hdy i{
    width: 20%;
    margin: 8px 0 0 10px;
}
.footer .hdy i img{
    width: 100%;
}
.footer .hdy i,
.footer .hdy span{
    float: left;
}
.footer .hdy span{
    font-size: 1rem;
    margin-left: 11%;
}
.return-top{
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.8);
    border-radius: 50px;
    border:2px solid #a9a8a6;
    position: fixed;
    right: 10px;
    bottom: 60px;
}
.return-top p{
    width:32%;
    margin: 6px auto 0;
}
.return-top p img{
    width: 100%;
}
.return-top span{
    font-size: 0.8rem;
    text-align: center;
    display: block;
}















@media screen and (min-width: 1200px) {
    .box {
        width: 680px;
        margin: 0 auto;
        position: relative;
    }
}
@media screen and (max-width: 320px){
    .header .scrapt p{
        font-size: 1rem;
    }
    .enterStoreCt .shopCustomer,
    .enterStoreCt .shopCustomer span,
    .enterStoreCt .time,
    .enterStoreCt .time span,
    .enterStoreCt .credibility span{
        font-size: 0.8rem;
    }




}
@media screen and (min-width: 321px) and (max-width: 413px){
    .enterStoreCt p{
        height: 21px;
    }
}
@media screen and (min-width: 414px){
    .enterStoreCt p{
        height: 23px;
    }
    .enterStoreCt .credibility i{
        margin-top: 2px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1080px){
    .header{
        position: fixed;
        top:0;
        left: 0;
        z-index: 1000;
    }
    .footer{
        position: fixed;
        bottom:0;
        left: 0;
    }

}
/*add fx*/
.sizeColor p a.selected{
    border: 1px solid #e4393c;

}













































