<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.EarningMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="model.Earning">
        <result column="id" property="id"/>
        <result column="company" property="company"/>
        <result column="text" property="text"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        company,
        text
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO earning
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.company != null"> company, </if>
            <if test="pojo.text != null"> text, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.company != null"> #{pojo.company}, </if>
            <if test="pojo.text != null"> #{pojo.text}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO earning(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.company},
            #{pojo.text}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE earning
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.company != null"> company = #{pojo.company}, </if>
            <if test="pojo.text != null"> text = #{pojo.text} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM earning
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.company != null"> AND company = #{pojo.company} </if>
            <if test="pojo.text != null"> AND text = #{pojo.text} </if>
        </where>
        LIMIT 10000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM earning where id = #{pojo.id}
    </delete>
</mapper>
