<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.CameraMapper">

    <!--auto generated Code-->
    <resultMap id="ModelResultMap" type="model.Camera">
        <result column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
    </resultMap>

    <!--auto generated Code-->
    <select id="selectDatabase" resultType="string">
        select database()
    </select>

    <select id="selectAll" resultMap="ModelResultMap">
        select * from camera
    </select>

    <insert id="insertAll">
        INSERT INTO camera
        VALUES
        <foreach collection="cameras" item="item" separator=",">
            (null,
            #{item.storeName},
            #{item.customerId},
            #{item.customerAge},
            #{item.customerSex},
            #{item.dataGenerateTime},
            #{item.cameraId},
            #{item.cameraName},
            #{item.catchArea})
        </foreach>
    </insert>
</mapper>
